<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- カメラ -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ストレージ -->
    <!-- Galaxy S8などAndroid 9以前を想定 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:label="PokaYokeApp"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- 起動画面 -->
        <activity
            android:name=".MenuActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- メイン画面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 子品番一覧画面 -->
        <activity
            android:name=".ChildListActivity"
            android:exported="false" />

        <!-- 完了画面 -->
        <activity
            android:name=".NextActivity"
            android:exported="false" />

        <!-- モード選択画面 -->
        <activity
            android:name=".ModeActivity"
            android:exported="false" />

        <!-- 段替えモード -->
        <activity
            android:name=".DangaeActivity"
            android:exported="false" />


    </application>

</manifest>